:root {
  --size: 24px;
  --switch-width: 40px;
}

body, html {
  height: fit-content;
}

body {
  background-color: #2A3033;
  padding: 10px 20px;
  color: #C4C4C4;
}

.head {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Braah One', sans-serif;
  margin-bottom: 24px;
}

.head-image {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.note {
  cursor: pointer;
  vertical-align: text-top;
}

.switch {
  position: relative;
  width: var(--switch-width);
  height: var(--size);
  background-color: #BDBDBD;
  border-radius: var(--size);
  cursor: pointer;
}

.switch-button {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(var(--size) - 2px);
  height: calc(var(--size) - 2px);
  border-radius: 100%;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  transform: translate3d(0, 0, 0);
  transition: transform 100ms linear;
}

.space-line {
  border-top: 1px solid #45474B;
  margin: 25px 0 15px;
}

.faq {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px 0;
}

.support {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
}

h3 {
  margin: 0 0 10px 0;
}

h4 {
  margin: 0;
}

.question-block {
  position: relative;
  text-align: left;
  line-height: 20px;
  background-color: #3D474D;
  padding: 10px 16px;
  cursor: pointer;
  color: #9E9E9E;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C4C4C4;
}

.question-icon {
  margin-left: 4px;
}

.plus-icon {
  margin-left: 10px;
  transition: transform 300ms ease-in-out;
}

.plus-icon-active {
  transform: rotate3d(0, 0, 1, 315deg);
}

.space {
  width: 100%;
  margin: 10px 0;
}

.answer {
  max-height: 0;
  transition: max-height 300ms ease-in-out;
  overflow: hidden;
}